# name: CI

# on:
#   push:
#   pull_request:

# jobs:
#   test-and-validate:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout repo
#         uses: actions/checkout@v4

#       - name: Set up Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.13"

#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt

#       - name: Run pytest
#         run: |
#           pytest -q

#       - name: Validate dataset
#         run: |
#           python src/pipeline/validate_dataset.py



# Updated GitHub Actions to generate + upload reports
# name: CI

# on:
#   push:
#   pull_request:

# jobs:
#   test-and-validate:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout repo
#         uses: actions/checkout@v4

#       - name: Set up Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.13"

#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt

#       - name: Run pytest
#         run: |
#           pytest -q

#       - name: Validate dataset
#         run: |
#           python src/pipeline/validate_dataset.py

#       - name: Generate reports
#         run: |
#           python src/pipeline/generate_reports.py

#       - name: Upload reports artifact
#         uses: actions/upload-artifact@v4
#         with:
#           name: clinical-reports
#           path: reports/





# Updated GitHub Actions to include MySQL job

# name: CI

# on:
#   push:
#   pull_request:

# jobs:
#   test-and-validate:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout repo
#         uses: actions/checkout@v4

#       - name: Set up Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.13"

#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt

#       - name: Run pytest
#         run: |
#           pytest -q

#       - name: Validate dataset
#         run: |
#           python src/pipeline/validate_dataset.py

#       - name: Generate reports
#         run: |
#           python src/pipeline/generate_reports.py

#       - name: Upload reports artifact
#         uses: actions/upload-artifact@v4
#         with:
#           name: clinical-reports
#           path: reports/

#   mysql-sql-checks:
#     runs-on: ubuntu-latest

#     services:
#       mysql:
#         image: mysql:8.0
#         env:
#           MYSQL_ROOT_PASSWORD: root
#         ports:
#           - 3306:3306
#         options: >-
#           --health-cmd="mysqladmin ping -h 127.0.0.1 -uroot -proot"
#           --health-interval=10s
#           --health-timeout=5s
#           --health-retries=10

#     steps:
#       - name: Checkout repo
#         uses: actions/checkout@v4

#       - name: Set up Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.13"

#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt

#       - name: Create schema in MySQL
#         run: |
#           sudo apt-get update
#           sudo apt-get install -y mysql-client
#           mysql -h 127.0.0.1 -uroot -proot < sql/schema/clinical_trials.sql

#       - name: Generate CI sample dataset
#         run: |
#           python src/pipeline/generate_trials_sample.py

#       - name: Load sample into MySQL
#         run: |
#           python src/pipeline/load_sample_to_mysql_ci.py

#       - name: Run SQL checks
#         run: |
#           mysql -h 127.0.0.1 -uroot -proot -D orange_trials -e "SELECT COUNT(*) AS total_rows FROM clinical_trials;"
#           mysql -h 127.0.0.1 -uroot -proot -D orange_trials -e "SELECT COUNT(*) AS null_followup FROM clinical_trials WHERE followup_marker IS NULL;"
#           mysql -h 127.0.0.1 -uroot -proot -D orange_trials -e "SELECT drug_code, COUNT(*) AS severe_events FROM clinical_trials WHERE adverse_event_severity='Severe' GROUP BY drug_code ORDER BY severe_events DESC LIMIT 5;"




#  Updated  existing CI workflow (schedule + caching)
name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: "30 2 * * *"

jobs:
  test-and-validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest
        run: |
          pytest -q

      - name: Validate dataset
        run: |
          python src/pipeline/validate_dataset.py

      - name: Generate reports
        run: |
          python src/pipeline/generate_reports.py

      - name: Upload reports artifact
        uses: actions/upload-artifact@v4
        with:
          name: clinical-reports
          path: reports/

  mysql-sql-checks:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -uroot -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create schema in MySQL
        run: |
          sudo apt-get update
          sudo apt-get install -y mysql-client
          mysql -h 127.0.0.1 -uroot -proot < sql/schema/clinical_trials.sql

      - name: Generate CI sample dataset
        run: |
          python src/pipeline/generate_trials_sample.py

      - name: Load sample into MySQL
        run: |
          python src/pipeline/load_sample_to_mysql_ci.py

      - name: Run SQL checks
        run: |
          mysql -h 127.0.0.1 -uroot -proot -D orange_trials -e "SELECT COUNT(*) AS total_rows FROM clinical_trials;"
          mysql -h 127.0.0.1 -uroot -proot -D orange_trials -e "SELECT COUNT(*) AS null_followup FROM clinical_trials WHERE followup_marker IS NULL;"
          mysql -h 127.0.0.1 -uroot -proot -D orange_trials -e "SELECT drug_code, COUNT(*) AS severe_events FROM clinical_trials WHERE adverse_event_severity='Severe' GROUP BY drug_code ORDER BY severe_events DESC LIMIT 5;"
