# name: CI

# on:
#   push:
#   pull_request:

# jobs:
#   test-and-validate:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout repo
#         uses: actions/checkout@v4

#       - name: Set up Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.13"

#       - name: Install dependencies
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt

#       - name: Run pytest
#         run: |
#           pytest -q

#       - name: Validate dataset
#         run: |
#           python src/pipeline/validate_dataset.py



# Updated GitHub Actions to generate + upload reports
name: CI

on:
  push:
  pull_request:

jobs:
  test-and-validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest
        run: |
          pytest -q

      - name: Validate dataset
        run: |
          python src/pipeline/validate_dataset.py

      - name: Generate reports
        run: |
          python src/pipeline/generate_reports.py

      - name: Upload reports artifact
        uses: actions/upload-artifact@v4
        with:
          name: clinical-reports
          path: reports/
